:root {
    --primaryColor: black;
    --secondaryColor: white;
    --lightTextColor: white;
    --darkTextColor: black;
    --hoverColor: #ddd;
    --basicBorder: 1px solid white;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: var(--lightTextColor);
    font-size: 18px;
    text-align: center;
}

/* https://www.w3docs.com/snippets/css/how-to-select-all-child-elements-recursively-in-css.html */
#primaryContent > * {
    vertical-align: middle;
}

header {
    height: 400px;
    /* https://pixabay.com/images/id-1197753/ */
    /*
    background-image: url("../img/aurora.jpg");
    background-size: cover;
    */
}

header h1 {
    padding: 100px;
    text-align: center;
}

main {
    min-height: 1000px;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 20px lightBlue;
}

footer {
    min-width: 100%;
    height: 150px;
}