:root {
    --primaryColor: #0d4030;
    --secondaryColor: #125944;
    --lightTextColor: white;
    --darkTextColor: black;
    --linkColor: #F7E708;
    --hoverColor: #ddd;
    --basicBorder: 1px solid white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondaryColor);
    color: var(--lightTextColor);
    font-size: 18px;
    text-align: center;
}

@font-face {
    font-family: pixel;
    src: url(../fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

/* https://www.w3docs.com/snippets/css/how-to-select-all-child-elements-recursively-in-css.html */
#primaryContent > * {
    vertical-align: middle;
    background-color: var(--primaryColor);
}

header {
    height: 400px;
    background-image: url("../img/aurora.jpg");
    /* https://pixabay.com/images/id-1197753/ */
    background-size: cover;
}

header h1 {
    padding: 100px;
    text-align: center;
}

main {
    min-height: 1000px;
    border-top: var(--basicBorder);
    border-bottom: var(--basicBorder);
}

a {
    color: var(--linkColor);
}

main section {
    width: 100%;
    padding: 20px;
    border-bottom: var(--basicBorder);
    float: left;
}

main img {
    width: 300px;
    height: 300px;
}

footer {
    min-width: 100%;
    height: 150px;
}