/*
https://www.w3schools.com/howto/howto_js_mobile_navbar.asp
*/
nav {
    width: 100%;
    min-height: 50px;
    overflow: hidden;
    /* try changing position to sticky */
    border: 1px solid white;
}

nav ul {
    list-style-type: none;
}

nav li a {
    text-decoration: none;
    color: var(--darkTextColor);
    padding: 40px;
    float: left;
    display: block;
}

nav a:hover {
    background-color: var(--hoverColor);
    color: var(--darkTextColor);
}
